# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/flutter_export_environment.sh

# macOS
*.DS_Store
